body {
    background-color: black;
}

h1 {
    text-align: center;
    color:darkslateblue;
}

nav {
    display: inline-block;
    border: 5px;
    list-style-type: none;
    background-color: darkviolet;
}

h3 {
    text-align: center;
    color: aqua;
}

#websites_grid {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
}

.website {
    color: coral;
    background-color: blueviolet;
}

.website img {
    width: 30%;
    height: 30%;
}
