* {
    background-color: black;
}

h1 {
    text-align: center;
    color:darkslateblue;
}

nav {
    position: absolute;
    width: 50%;
    margin-left: 25%;
    padding: 0px;
    text-align: center;
    display: inline-block;
    border: 5px;
    list-style-type: none;
    background-color: darkviolet;
}

nav a {
    background-color: darkviolet;
    width: 15%;
    padding-left: 2.5%;
    padding-right: 2.5%; 
}

nav a:hover {
    background-color: rgb(92, 67, 120);
    color: black;
  }

h3 {
    text-align: center;
    color: aqua;
}

#websites_grid {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    background-color: brown;
}

.website {
    color: coral;
    background-color: blueviolet;
}

.website img {
    width: 30%;
    height: 30%;
}
