body {
    background-color: #141414;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color:#FFFFFF;
}

nav {
    position: absolute;
    width: 50%;
    margin-left: 25%;
    padding: 0px;
    text-align: center;
    display: inline-block;
    border: 5px;
    list-style-type: none;
    background-color: #565656;
    margin-bottom: 5%;
    margin-top: 5%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

nav a {
    width: 15%;
    padding-left: 2.5%;
    padding-right: 2.5%; 
}

a:hover {
    background-color: #FBA92C;
    color: #141414;
  }

h3 {
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
}

#websites_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    text-decoration: none;
    background-color: #565656;
}

.website {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #9E9E9E;
    margin: 5%;
}

.website a {
    background-color: #9E9E9E;
}

.website img {
    width: 30%;
    height: 30%;
}
